@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-fcabl-dark text-gray-100;
  }
}

@layer components {
  /* Add more horizontal padding to all buttons */
  .btn {
    @apply px-6;
  }
  
  .btn-sm {
    @apply px-4;
  }
  
  .btn-lg {
    @apply px-8;
  }
  
  /* Ensure router-links styled as buttons also get padding */
  a.btn {
    @apply px-6;
  }
  
  a.btn-sm {
    @apply px-4;
  }
  
  a.btn-lg {
    @apply px-8;
  }
  
  /* Add horizontal padding to input fields */
  .input {
    @apply px-4;
  }
}
